{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="icon" href="{%static 'img/favicon.png' %}" type="image/png" />
  <title>Khidkistudio-Exeception Product for Exeception Spaces</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{%static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" href="{%static 'vendors/linericon/style.css' %}" />
  <link rel="stylesheet" href="{%static 'css/font-awesome.min.css' %}" />
  <link rel="stylesheet" href="{%static 'css/themify-icons.css' %}" />
  <link rel="stylesheet" href="{%static 'css/flaticon.css' %}" />
  <link rel="stylesheet" href="{%static 'vendors/owl-carousel/owl.carousel.min.css' %}" />
  <link rel="stylesheet" href="{%static 'vendors/lightbox/simpleLightbox.css' %}" />
  <link rel="stylesheet" href="{%static 'vendors/nice-select/css/nice-select.css' %}" />
  <link rel="stylesheet" href="{%static 'vendors/animate-css/animate.css' %}" />
  <link rel="stylesheet" href="{%static 'vendors/jquery-ui/jquery-ui.css' %}" />
  <!-- main css -->
  <link rel="stylesheet" href="{%static 'css/style.css' %}" />
  <link rel="stylesheet" href="{%static 'css/responsive.css' %}" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-157788051-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-157788051-1');
</script>



</head>

<body>
  <!--================Header Menu Area =================-->
  <header class="header_area">
    <div class="top_menu">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="float-left">
              <p style="text-transform: capitalize;">Phone: +919825040056</p>
              <p style="text-transform: capitalize;">Email: contact@khidkistudio.com</p>
              
            </div>
          </div>
          <div class="col-lg-5">
            <div class="float-right">
              <ul class="right_side">
               
                <li>
                  <a href="/offers">
                    offers
                   </a>
                  
                </li>
               
                <li>
                  <a href="/tracking">
                    Tracking
                  </a>
                
              
                </li>
                <li>
                  <a href="/cart" class="icons">
                    <i class="ti-shopping-cart"></i> Mycart
                  </a>
             
                 
                </li>
               

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main_menu">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="/">
            <img src="{%static 'img/final.png' %}"  style="height: 50px;"  alt="" />
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse offset w-100" id="navbarSupportedContent">
            <div class="row w-100 mr-0">
              <div class="col-lg-7 pr-0">
                <ul class="nav navbar-nav center_nav pull-right">
                  <li class="nav-item {{home_page}} ">
                    <a class="nav-link"  style="text-transform: capitalize;" href="/">Home</a>
                  </li>
                  <li class="nav-item {{product_page}}">
                    <a class="nav-link" style="text-transform: capitalize;" href="/shop">Shop</a>
                  </li>
                  <li class="nav-item {{blog_page}}">
                    <a class="nav-link"  style="text-transform: capitalize;" href="{% url 'blog:blog_list' %}">Blog</a>
                  </li>
                  
                  
                  <li class="nav-item {{about_page}}">
                    <a class="nav-link" style="text-transform: capitalize;" href="/about">About Us</a>
                  </li>
                  <li class="nav-item {{contact_page}}">
                    <a class="nav-link" style="text-transform: capitalize;" href="{% url 'contact:submit' %}">Contact</a>
                  </li>
                </ul>
              </div>

              <div class="col-lg-5 pr-0">
                <ul class="nav navbar-nav navbar-right right_nav pull-right">
                  <li class="nav-item">
                   <!--
                    <a href="#" class="icons">
                      <i class="ti-search" aria-hidden="true"></i>
                    </a>
                  -->
                  </li>
<!--
                  <li class="nav-item">
                   <!-- <a href="/cart" class="icons"> 
                      <i class="ti-shopping-cart"></i>
                    </a>
                  </li>
                -->
<!--
                    <li class="nav-item">
                    <a href="#" class="icons">
                      <i class="ti-user" aria-hidden="true"></i>
                    </a>
                  </li>
                
                {% if user.is_authenticated %}
              
                   <div class="dropdown" style="margin-top: 20%;">
                 <button class="btn btn-default btn-sm dropdown-toggle" style="background-color: #64FFB1;" type="button" data-toggle="dropdown" data-hover="dropdown">
                  <i class="fa fa-user"></i>    My Account <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="background-color: #64FFB1;">
                    
                      <li><a href="">logout</a>
                    </ul>
                  </div>
                </li>
                {% else %}
                
                  <li class="nav-item" >
                  <button type="button" style="background-color: #64FFB1;" id="login" class="btn btn-default btn-sm ml-3 mt-4" data-toggle="modal" data-target="#loginmodel">
                    Login
                   </button>


                    </li>

                    <li class="nav-item">
                      <button type="button" style="background-color: #64FFB1;" class="btn btn-default btn-sm ml-3  mt-4"  data-toggle="modal" data-target="#registermodel">
                        Register
                       </button>
    
                       
                        </li>
                    {% endif %}
                </ul>
              -->
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <!--================Header Menu Area =================-->

  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} style="text-align:center ;" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}


  <!--================model section =================-
  {% if user.is_authenticated ==  False  %}

 <div class="modal fade" id="loginmodel" tabindex="-1" role="dialog" aria-labelledby="loginmodel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="margin-left: 35%;color: #64FFB1;">
        <h3 class="mb-30  title_color" style="color: #000000;margin-top: 5%;" >Login</h3>
        <!--<h5 class="modal-title" id="exampleModalLabel">Modal title</h5> 
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
            <form action="" method="POST" >
                {% csrf_token %}
               
                
                <div class="mt-10">
                    <input type="email" name="email" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'"
                     required class="single-input">
                </div>
                <div class="mt-10">
                    <input type="password" name="password" placeholder="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'password'"
                     required class="single-input">
                </div>
                <div class="button-group-area mt-40 " style="margin-left: 30%; color: #64FFB1;" >
                  <button type="submit" name="register" placeholder="Register" class="loginbutton">Login</button>
                 </div>
               
            </form>

            <style>
              .loginbutton
              {
                background-color:#64FFB1 ;
                border: none;
                color: #000000;
                width:40%;
                height: 10%;
                padding: 10px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 15px;
                border-radius: 8px;
                
           
              
              }
           
  
    
              
            </style>

      </div>
      <a href="" style="color: #000000;margin-left: 33%;">Forgot Password ? </a>
      <div class="modal-footer">
      
     
        <a href=""  data-dismiss="modal" data-toggle="modal" data-target="#registermodel" >Want to Register ?</a>
      </div>
    </div>
  </div>
</div>







 <!--================Register model =================





<div class="modal fade" id="registermodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="margin-left: 30%;">
        <h3 class="mb-30 title_color" style="color: #000000;margin-top:5%">Register</h3>
        <!--<h5 class="modal-title" id="exampleModalLabel">Modal title</h5> 
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action=""  method="POST">
                
          {%  csrf_token %}
          <div class="mt-10">
            <input type="text" name="FirstName" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'"
             required class="single-input">
        </div> <div class="mt-10">
          <input type="text" name="LastName" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'"
           required class="single-input">
      </div> 

           <div class="mt-10">
               <input type="email" name="email" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'"
                required class="single-input">
           </div>
           <div class="mt-10">
               <input type="password" name="password1" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'password'"
                required class="single-input">
           </div>
           <div class="mt-10">
               <input type="password" name="password2" placeholder=" Confirm password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'password'"
                required class="single-input">
           </div>
           

           <div class="button-group-area mt-40" style="margin-left: 30%;">
             <button type="submit" name="register" placeholder="Register" class="loginbutton">Register</button>
            </div>
           
       </form>
           
      </div>
      <div class="modal-footer">
     
        <a href=""  data-dismiss="modal"   data-toggle="modal" data-target="#loginmodel">Want to Login</button>
      </div>
    </div>
  </div>
</div>
{% else %}

{%  endif %}

    {% block content%}


    {%endblock%}


     <!--================ start footer Area  =================-->
  <footer class="footer-area section_gap">
        <div class="container">
          <div class="row">
            <div class="col-lg-2 col-md-6 single-footer-widget">
              <h4>Top Products</h4>
              <ul>
                <li><a href="#">Nature Spirit Wall Vase</a></li>
                <li><a href="#">Radiant Boat Art</a></li>
                <li><a href="#">Vintage Elegance</a></li>
                <li><a href="#">Enchanted Wall Decor</a></li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-6 single-footer-widget">
              <h4>Quick Links</h4>
              <ul>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/offers">Offers</a></li>
                <li><a href="/terms">Terms of conditions</a></li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-6 single-footer-widget">
              <h4>Features</h4>
              <ul>
                <li><a href="/tracking">Tracking</a></li>
                <li><a href="#">Fast Delivery</a></li>
                <li><a href="#">Secure Pyments</a></li>
                <li><a href="#">Easy Return & Replacement</a></li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-6 single-footer-widget">
              <h4>Resources</h4>
              <ul>
                <li><a href="#">Guides</a></li>
                <li><a href="#">Research</a></li>
                <li><a href="#">Experts</a></li>
                <li><a href="#">Agencies</a></li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-6 single-footer-widget">
              <h4>Newsletter</h4>
              <p>You can trust us. we only send promo offers,</p>
              <div class="form-wrap" id="mc_embed_signup">
                <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                  method="get" class="form-inline">
                  <input class="form-control" name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Your Email Address '" required="" type="email">
                  <button class="click-btn btn btn-default">Subscribe</button>
                  <div style="position: absolute; left: -5000px;">
                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                  </div>
    
                  <div class="info"></div>
                </form>
              </div>
            </div>
          </div>
          <div class="footer-bottom row align-items-center">
            <p class="footer-text m-0 col-lg-8 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="http://idesirecommunications.com/" target="_blank">khidkistudio</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            <div class="col-lg-4 col-md-12 footer-social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-dribbble"></i></a>
              <a href="#"><i class="fa fa-behance"></i></a>
            </div>
          </div>
        </div>
      </footer>
      <!--================ End footer Area  =================-->
    
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="{%static 'js/jquery-3.2.1.min.js' %}"></script>
      <script src="{%static 'js/popper.js' %}"></script>
      <script src="{%static 'js/bootstrap.min.js' %}"></script>
      <script src="{%static 'js/stellar.js' %}"></script>
      <script src="{%static 'vendors/lightbox/simpleLightbox.min.js' %}"></script>
      <script src="{%static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
      <script src="{%static 'vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
      <script src="{%static 'vendors/isotope/isotope-min.js' %}"></script>
      <script src="{%static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
      <script src="{%static 'js/jquery.ajaxchimp.min.js' %}"></script>
      <script src="{%static 'vendors/counter-up/jquery.waypoints.min.js' %}"></script>
      <script src="{%static 'vendors/counter-up/jquery.counterup.js' %}"></script>
      <script src="{%static 'js/mail-script.js' %}"></script>
      <script src="{%static 'js/theme.js' %}"></script>
    </body>
    
    </html>