{%extends 'base.html' %}
{%block content%}
  
    <!--================Header Menu Area =================-->

    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div
            class="banner_content d-md-flex justify-content-between align-items-center"
          >
            <div class="mb-3 mb-md-0">
              <h2>Product Checkout</h2>
              <p></p>
            </div>
            <div class="page_link">
             
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->
    
  
  <script type="text/javascript">
      $(document).ready(function() {
         $("#orderbtn").click(function() {
             $("#myform").submit();
         });
      });
  </script>
    <!--================Checkout Area =================-->
    <section class="checkout_area section_gap">
      <div class="container">
       
        <div class="billing_details">
          <div class="row">
            <div class="col-lg-8">
              <h3>Billing Details</h3>
              <form
                class="row contact_form"
                action="shop/makeorder"
                id="myform"
                method="post"
                
              >
              {% csrf_token %}
              <div class="col-md-12 form-group">
                <input
                  type="text"
                  class="form-control"
                  id="company"
                  name="product_name"
                  placeholder="{{product.name}}"
                  value="{{product.name}}" readonly
                />
              </div>
                <div class="col-md-6 form-group p_star">
                  <input
                    type="text"
                    class="form-control"
                    id="first"
                    name="first_name"
                    placeholder="First Name"
                  required/>
                
                </div>
                <div class="col-md-6 form-group p_star">
                  <input
                    type="text"
                    class="form-control"
                    id="last"
                    name="last_name"
                    placeholder="Last Name"
                    />
                
                </div>
                
                <div class="col-md-6 form-group p_star">
                  <input
                    type="text"
                    class="form-control"
                    id="number"
                    name="phone_number"
                 placeholder="Contact Number"
                    />
                 
                </div>
                <div class="col-md-6 form-group p_star">
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="email"
                placeholder="Email"
                    />
                
                </div>
                <div class="col-md-12 form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="company"
                    name="country"
                    placeholder="india"
                    value="India" readonly
                  />
                </div>
                <div class="col-md-12 form-group p_star">
                  <input
                    type="text"
                    class="form-control"
                    id="add1"
                    name="add_1"
                  placeholder="Address line 01"
                    />
                  
                </div>
                <div class="col-md-12 form-group p_star">
                  <input
                    type="text"
                    class="form-control"
                    id="add2"
                    name="add_2"
                  placeholder="Address line 02"
                    />
                  
                </div>
                <div class="col-md-12 form-group p_star">
                  <input
                    type="text"
                    class="form-control"
                    id="city"
                    name="city"
                  placeholder="City"
                    />
                  
                </div>
                
                <div class="col-md-12 form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="zip"
                    name="zip_code"
                    placeholder="Postcode/ZIP"
                  />
                </div>
               
                <div class="col-md-12 form-group">
                  <div class="creat_account">
                    <h3>Shipping Details</h3>
                    <input type="checkbox" id="f-option3" name="selector" />
                    <label for="f-option3">Ship to a different address?</label>
                  </div>
                  <textarea
                    class="form-control"
                    name="message"
                    id="message"
                    rows="1"
                    placeholder="Order Notes"
                  ></textarea>
                </div>
     
            </div>
            <div class="col-lg-4">
              <div class="order_box">
                <h2>Your Order</h2>
                <ul class="list">
                  <li>
                    <a href="#"
                      >Product
                      <span>Total</span>
                    </a>
                  </li>
                  <li>
                    <a href="#"
                    >{{product.name}} 
                      <span class="middle">x 01</span>
                      <span class="last"> &#x20b9 {{product.price}}</span>
                    </a>
                  </li>
                 
                 
                </ul>
                <ul class="list list_2">
                  <li>
                    <a href="#"
                      >Subtotal
                      <span> &#x20b9 {{product.price}}</span>
                    </a>
                  </li>
                  <li>
                    <a href="#"
                      >Shipping
                      <span> &#x20b9 0.00</span>
                    </a>
                  </li>
                  <li>
                    <a href="#"
                      >Total
                      <span>  &#x20b9 {{product.price}}</span>
                    </a>
                  </li>
                </ul>
                <div class="payment_item">
                  <div class="radion_btn">
                    <input type="radio" id="f-option5" name="selector" />
                    <label for="f-option5"> COD payments</label>
                    <div class="check"></div>
                  </div>
                  <p>
                    Please read terms and conditions
                  </p>
                </div>

                <div class="payment_item">
                  <div class="radion_btn">
                    <input type="radio" id="f-option9" name="selector" />
                    <label for="f-option9"> Debit/Credit Card payments</label>
                    <div class="check"></div>
                  </div>
                  <p>
                   Currently We are not accept Credit or Debit card payments
                  </p>
                </div>

                <div class="payment_item ">
                  <div class="radion_btn">
                    <input type="radio" id="f-option6" name="selector" />
                    <label for="f-option6">Paytm </label>
                    <img src="img/product/single-product/card.jpg" alt="" />
                    <div class="check"></div>
                  </div>
                  <p>
                    Currently We are not accept Paytm  payments
                  </p>
                </div>
                <div class="payment_item ">
                  <div class="radion_btn">
                    <input type="radio" id="f-option6" name="selector" />
                    <label for="f-option6">UPI </label>
                    <img src="img/product/single-product/card.jpg" alt="" />
                    <div class="check"></div>
                  </div>
                  <p>
                    Currently We are not accept UPI payments
                  </p>
                </div>
                <div class="creat_account">
                  <input type="checkbox" id="f-option4" name="selector" />
                  <label for="f-option4">I’ve read and accept the </label>
                  <a href="#">terms & conditions*</a>
                </div>
                <input type="submit" class="main_btn"  value="Proceed to Order"  id="orderbtn"  style="background-color: #64FFB1 ;color: black;">
              <!--- <a  id="orderbtn" form="myform" style="background-color: #64FFB1 ;color: black;" >Proceed to Order</a> -->
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Checkout Area =================-->
{% endblock %}