{% extends 'base.html' %}

{%block content%}

<div class="jumbotron text-center">
    <h1 class="display-3" style="color: #64FFB1;">Thank You!</h1>
    <p class="lead" style="color: #000000;"><strong  style="color: #000000;">Please check your email</strong> for further instructions on how to complete your account setup.</p>
    <hr>
    <p>
      Having trouble? <a href="" >Contact us</a>
    </p>
    <p class="lead">
      <a class="btn btn-default btn-sm" style="background-color: #64FFB1;color: #000000;"  href="/" role="button">Continue to homepage</a>
    </p>
  </div>
{% endblock %}