{% load static %}

<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>site is underconstruction</title>
     <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="icon" href="{%static 'img/favicon.png' %}" type="image/png" />
  <title>Eiser ecommerce</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{%static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" href="{%static 'vendors/linericon/style.css' %}" />
  <link rel="stylesheet" href="{%static 'css/font-awesome.min.css' %}" />
  <link rel="stylesheet" href="{%static 'css/themify-icons.css' %}" />
  <link rel="stylesheet" href="{%static 'css/flaticon.css' %}" />
  <link rel="stylesheet" href="{%static 'vendors/owl-carousel/owl.carousel.min.css' %}" />
  <link rel="stylesheet" href="{%static 'vendors/lightbox/simpleLightbox.css' %}" />
  <link rel="stylesheet" href="{%static 'vendors/nice-select/css/nice-select.css' %}" />
  <link rel="stylesheet" href="{%static 'vendors/animate-css/animate.css' %}" />
  <link rel="stylesheet" href="{%static 'vendors/jquery-ui/jquery-ui.css' %}" />
  <!-- main css -->
  <link rel="stylesheet" href="{%static 'css/style.css' %}" />
  <link rel="stylesheet" href="{%static 'css/responsive.css' %}" />
</head>
   <body>
    <div class="well well-sm">
      {% for message in messages %}
     <script>
       alert("{{message}}")
     </script> 
      {% endfor %}
  </div>
    
    <div class="container">
        <div class="row" style="padding-top: 10%;">
          <div class="mx-auto">
          <img src="{%static 'img/Asset 1.svg' %}" height="100%" width="100%" >
          </div>
         
        </div>

        <div class="row" style="margin-top: 3%;" >
                   <h1 style="color: #64FFB1;">Comming Soon </h1>
                   

                    
        <div class="row" style="margin-top: 5%;">
                 
          <style>
            @media only screen and (max-width: 600px) {
              
       h1{
         margin-left: 25%;
       }
      }
      @media only screen and (min-width: 1200px) {
      h1{
        margin-left: 40%;
      }
         }
         @media only screen and (max-width: 600px) {
              
          a{
            margin-left: 43%;
          }
         }
         @media only screen and (min-width: 1200px) {
         a{
           margin-left: 47%;
         }
            }
   
        
           </style>
                </div>
               
              </div>
           
          </div>
         

          <a href="/" style="color: #000000;"> Back to Home</a>
      </div>
    
      <div>

        </div>

      
      <script src="{%static 'js/jquery-3.2.1.min.js' %}"></script>
   
      <script src="{%static 'js/popper.js' %}"></script>
      <script src="{%static 'js/bootstrap.min.js' %}"></script>
      <script src="{%static 'js/stellar.js' %}"></script>
      <script src="{%static 'vendors/lightbox/simpleLightbox.min.js' %}"></script>
      <script src="{%static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
      <script src="{%static 'vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
      <script src="{%static 'vendors/isotope/isotope-min.js' %}"></script>
      <script src="{%static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
      <script src="{%static 'js/jquery.ajaxchimp.min.js' %}"></script>
      <script src="{%static 'vendors/counter-up/jquery.waypoints.min.js' %}"></script>
      <script src="{%static 'vendors/counter-up/jquery.counterup.js' %}"></script>
      <script src="{%static 'js/mail-script.js' %}"></script>
      <script src="{%static 'js/theme.js' %}"></script>

  </body>
</html>