{% extends 'base.html' %}

{%block content%}


    <!--================Home Banner Area ================= -->
 
      <!--================End Home Banner Area =================-->

     

      <section class="sample-text-area">
		<div class="container">
            {% for term in terms %}
			<h3 >{{term.heading}}</h3>
			<p class="sample-text" style="color: #000000;">
                {{term.details}}
                
            </p>
            {% endfor %}
        </div>
        
        


    </section>
 
  

{% endblock %}