{% extends 'base.html' %}

{%block content%}


    <!--================Home Banner Area ================= -->
 
    <!--================Home Banner Area ================= -->

    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
          <div class="container">
            <div
              class="banner_content d-md-flex justify-content-between align-items-center"
            >
              <div class="mb-3 mb-md-0">
                <h2>Terms and Conditions</h2>
                <p></p>
              </div>
              
            </div>
          </div>
        </div>
      </section>
      <!--================End Home Banner Area =================-->
      <!--================End Home Banner Area =================-->

     

      <section class="sample-text-area">
		<div class="container">
            {% for term in terms %}
			<h3 >{{term.heading}}</h3>
			<p class="sample-text" style="color: #000000;">
                {{term.details}}
                
            </p>
            {% endfor %}
        </div>
        
        


    </section>
 
  

{% endblock %}